#one, #two, #three, #four, #five, #output, #restart, #Python, #CPlusPlus, #JavaScript, #Java, #JSF {
  display: none;
}

.bold {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

.btext {
  border: red;
  border-width: 10px;
  border-style: groove;
  padding: 10px;
}

.ptext {
  border: royalblue;
  border-width: 10px;
  border-style: groove;
  padding: 10px;
}

.ltext {
  border: green;
  border-width: 10px;
  border-style: groove;
  padding: 10px;
}

a:link {
  color: red;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}

ul {
  list-style-type: square;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 50px;
}