#one, #two, #three, #four, #five, #output, #restart, #Python, #CPlusPlus, #JavaScript, #Java, #JSF {
  display: none;
}

body {
  background-color: black;
  background-image: url("../img/bg.png");
}

h1 {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: greenyellow;
  padding: 10px;
  border: white;
  border-style: solid;
  text-align: center;
}

ul {
  list-style-type: square;
}

a:link {
  color: red;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}

.ezRead {
  background-color: white;
  padding: 10px;
  border: black;
  border-style: solid;
}

.special {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  color: greenyellow;
  border: greenyellow;
  border-style: solid;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 40%;
  margin-right: 40%;
}

.special a:link {
  color: greenyellow;
}

.special a:visited {
  color: greenyellow;
}

.special a:hover {
  color: green;
  text-decoration: underline;
}

.special a:active {
  color: greenyellow;
  text-decoration: underline;
}

.small {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  color: white;
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

.btext {
  border: red;
  border-width: 10px;
  border-style: groove;
  padding: 10px;
  background-color: white;
}

.ptext {
  border: royalblue;
  border-width: 10px;
  border-style: groove;
  padding: 10px;
  background-color: white;
}

.ltext {
  border: green;
  border-width: 10px;
  border-style: groove;
  padding: 10px;
  background-color: white;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 50px;
}