#one, #two, #three, #four, #five, #output, #Python, #CPlusPlus, #JavaScript, #Java, #JSF {
  display: none;
}
/*
li { 
  list-style-image: url("img/bullet.gif");
}

#search {
  background-image: url("img/bullet.gif");
}

Neither of these worked and I am not sure why
*/
ul {
  list-style-image: url(img/bullet.gif);
}

a:link {
  color: red;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}